# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# JetBrains IDE
.idea/

# PyInstaller
build/
dist/
*.spec

# VSCode
.vscode/

# Minecraft лаунчер директории
logs/
launcher_minecraft/
session/
builds/
authlib-injector.log
*.zip

# Windows
Thumbs.db